/* website colors */
$cp-blue: #003cb3;
$cp-light-blue: #00a9fe;
$cp-red: rgb(186, 0, 0);
$cp-green: rgb(0, 171, 3);
$cp-gold: rgba(255, 214, 10, 1);
$cp-dark: #1E2020;
$cp-dark-grey: #3e3e3e;
$cp-grey: #7f7f7f;
$cp-light-grey: #b8b8b8;
$cp-white: #efefef;

/* website colors */
$cf-blue: #003cb3;
$cf-light-blue: #00a9fe;
$cf-red: rgb(186, 0, 0);
$cf-green: rgb(0, 171, 3);
$cf-gold: rgba(255, 214, 10, 1);
$cf-dark: #1E2020;
$cf-dark-grey: #3e3e3e;
$cf-grey: #898989;
$cf-light-grey: #b8b8b8;
$cf-white: #f0f0f0;


$websiteIcons: #00a9fe;

// /* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #011338ff, #c7912bff, #f5aa15ff, #ffd60aff, #e1e1caff);
// $gradient-right: linear-gradient(90deg, #011338ff, #c7912bff, #f5aa15ff, #ffd60aff, #e1e1caff);
// $gradient-bottom: linear-gradient(180deg, #011338ff, #c7912bff, #f5aa15ff, #ffd60aff, #e1e1caff);
// $gradient-left: linear-gradient(270deg, #011338ff, #c7912bff, #f5aa15ff, #ffd60aff, #e1e1caff);
// $gradient-top-right: linear-gradient(45deg, #011338ff, #c7912bff, #f5aa15ff, #ffd60aff, #e1e1caff);
// $gradient-bottom-right: linear-gradient(135deg, #011338ff, #c7912bff, #f5aa15ff, #ffd60aff, #e1e1caff);
// $gradient-top-left: linear-gradient(225deg, #011338ff, #c7912bff, #f5aa15ff, #ffd60aff, #e1e1caff);
// $gradient-bottom-left: linear-gradient(315deg, #011338ff, #c7912bff, #f5aa15ff, #ffd60aff, #e1e1caff);
// $gradient-radial: radial-gradient(#011338ff, #c7912bff, #f5aa15ff, #ffd60aff, #e1e1caff);

// font-size
$fs-h1: 3rem;
$fs-h2: 2.5rem;
$fs-h3: 2rem;
$fs-h4: 1.5rem;
$fs-btn: 1.5rem;
$fs-p: 1rem;

// border-radius
$br-sm: .25rem;
$br-m: .5rem;
$br-l: 1rem;

// box-shadow
$bs-dark: 0 0 5px 2px rgba(0, 0, 0, .4);
$bs-btn: 0px 1px 2px 1px rgba(0, 0, 0, .5);
$bs-btnHover: 0px 8px 40px 3px rgba(0, 0, 0, .7);

//margin
$mb-section: 4rem;
$mb-h1: 4rem;
$mb-btn: 4rem;
$mb-h2: 2rem;
$mb-h3: 1.5rem;
$mb-h4: 1rem;
$mb-p: 1rem;