// sass main import
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/cardAbout";
@import "components/cardCarousel";
@import "components/cardContact";
@import "components/cardGoogleReviews";
@import "components/carousel";
@import "components/composition";
@import "components/contactUsDetailsComponent";
@import "components/googleMapsIframe";
@import "components/headings";
@import "components/imageSlider";
@import "components/linkDiv";
@import "components/logo";
@import "components/navigation";
@import "components/pharmacyDepartment";
@import "components/photoCollage";
@import "components/promotion";
@import "components/socialMediaNavList";
@import "components/teamMemberCard";
@import "components/termsAndConditions";

@import "layout/footer";
@import "layout/header";
@import "layout/main";
@import "layout/navbar";
@import "layout/paragraph";

@import "pages/home";
