// style footer section
.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .75rem;

    background-color: $cp-white;

    // width: min(100%, 45rem);
    padding: 0;
    margin: 0 auto;

    .footerHeroSection {       
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;

        width: min(100%, 45rem);
        padding: 0 1.5rem;
        margin-bottom: 1.25rem;

        @include respond(tab-land) {
            flex-direction: row;
        }

        @media (min-width: 600px) {
            width: min(100%, 60rem);
            // padding: 5rem 2rem;
        }

        @media (min-width: 900px) {
            width: min(100%, 75rem);
            //padding: 5rem 3rem;
        }

        @media (min-width: 1200px) {
            width: min(100%, 82rem);
            // padding: 5rem 4rem;
        }

        @media (min-width: 2000px) {
            max-width: 2000px;
            margin: 0 auto;
        }

        &__heroLogo {

            @include respond(tab-land) {
                width: 50rem;
                height: 15rem;
            }

            @include respond(desk) {
                width: 50rem;
                height: 13rem;
            }

            .primaryHeading {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                gap: clamp(.5rem, 1vh, 1.6rem);

                background-color: $cp-darkBlue;
                border-radius: .25rem;

                width: 100%;

                padding: 2rem 2.2rem;

                @include respond(tab-land) {
                    width: 100%;
                    height: 100%;
                }
                
                &__headAndBylineContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center; 
                }

                &__headline {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem; 

                    margin-left: 5rem; 

                    position: relative;  
                }

                &__headlineImage {
                    width: 6rem;

                    position: absolute;
                    top: -.45rem;
                    left: -5.5rem;
                }

                &__headlineText {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 0rem;
                }

                &__headlineTextMain {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 0rem;
                }
            }
        }

        &__heroContent {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;

            @include respond(tab-land) {
                gap: 1rem;
            }
        }

        &__socialMediaFooter {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            gap: 1rem;

            @media (min-width: 600px) {
                width: min(100%, 60rem);
                padding: 0 3rem;
            }

            @media (min-width: 900px) {
                width: min(100%, 75rem);
                padding: 0;
                align-items: start;
            }

            @media (min-width: 1200px) {
                width: min(100%, 100rem);
            }
        }
    }

    .secondaryNavSection {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        padding: 0 1.5rem;
        margin: 0 auto;

        &__secondaryNavList {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: .75rem;

            width: 100%;

            @include respond(tab-land) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                width: min(100%, 75rem);
                padding: 0 1.5rem;

                .secondaryNavListNavItem {
                    width: 225px;
                }

                .secondaryNavListNavTextItem {
                    text-align: center;
                    @include respond(tab-land) {
                        text-align: left;
                    }
                }
            }

            @media (min-width: 1200px) {
                width: min(100%, 82rem);
                padding: 0 1.5rem;

                .secondaryNavListNavItem {
                    flex: 1 0 300px;
                }
            }

            
        }
	}

    .termsAndConditionsSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        padding: 0 1.5rem;
        margin-bottom: 1.25rem;

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: .5rem;

            border: none;
            cursor: pointer;

            width: min(100%, 45rem);

            @include respond(tab-port) {
                width: min(100%, 60rem);
                padding: 0 2rem;
            }

            @include respond(tab-land) {
                justify-content: flex-start;
                width: min(100%, 75rem);
                padding: 0 1.5rem;
            }

            @include respond(desk) {
                width: min(100%, 82rem);
                padding: 0 1.5rem;
            }
        }
    }

    .tsAndCs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        background-color: $cp-lightGrey;
        padding: 0 1rem;

        position: relative;

        &__closeButton {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1rem;

            background-color: $cp-lightGrey;
            border: 2px solid $cp-white;
            border-radius: 5px;
            box-shadow: 2px 2px 7px 2px rgba($cp-dark, .3);
            padding: .5rem 2rem;
            margin-top: 1.5rem;
            cursor: pointer;

            position: sticky;
            top: 8rem;
        }

        &__xIcon {
            color: $cf-white;
            background-color: $cp-red;
            border: 2px solid $cp-white;

            padding: 0 .5rem .25rem .5rem;
        }
    }

    &__footerEnd {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $cp-darkBlue;
        width: 100%;
        padding: 1.5rem;
        margin: 0 auto;

        .copyrightAndWebdevContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            @include respond(tab-port) {
                width: min(100%, 60rem);
                padding: 0 3rem;
            }

            @include respond(tab-land) {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                width: min(100%, 75rem);
                padding: 0 1.5rem;
            }

            @include respond(desk) {
                flex-direction: row;
                justify-content: space-between;

                width: min(100%, 82rem);
                padding: 0 1.5rem;
            }
        }
    }
    .copyright__rights {
        @include respond(desk) {
            display: inline-block;
        }
    }
}

.hidden {
    display: none;
    height: 0;
    overflow: hidden;
}

.displayBlock {
    display: block;
}