@use '../abstracts/index' as *;
 
header {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.header__container {
  @include displayFlexColumn;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 60rem;
  padding: 10rem 0 8rem;
}