// style main section
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 5rem;

    width: min(100%, 45rem);

    padding: 5rem 1rem;
    margin: 0 auto;

    @media (min-width: 600px) {
        width: min(100%, 60rem);
        padding: 5rem 2rem;
    }

    @media (min-width: 900px) {
        width: min(100%, 75rem);
        padding: 5rem 1.5rem;
    }

    @media (min-width: 1200px) {
        width: min(100%, 82rem);
    }
}

.socialMediaSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 2rem;
}

.aboutSection, .googleReviewsSection, .contactUsSection, .tradingHoursSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.aboutSection {
    @include respond(tab-land) {
        align-items: flex-start;
    }
    .sectionContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .managementContentContainer, .teamContentContainer, .cardAboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .managementContentContainer, .teamContentContainer {
        @include respond(tab-land) {
            align-items: flex-start;
        }
    }
    .cardAboutContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 2rem;  
    }
}

.servicesAndPricingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @include respond(tab-land) {
        align-items: flex-start;
    }

    .servicesAndPricingContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        margin: 0 auto;
        &__servicesContainer, &__pricingContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
        &__servicesContainer {
            @include respond(tab-land) {
                align-items: flex-start;
            }
        }
        &__servicesDescContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            @include respond(tab-land) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
        &__serviceDesc {
            width: 100%;
            @include respond(tab-land) {
                flex: 1 0 25rem;
            }
        }
        &__pricingContainer {
            gap: .25rem;
            width: 100%;
            @include respond(tab-land) {
                align-items: flex-start;
            }
        }
    }

    .benefitsContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        @include respond(tab-land) {
            align-items: flex-start;
        }
    }

    .benefitsList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        @include respond(tab-land) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 5rem;
            row-gap: .25rem;
        }

        &__item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: .2rem;
            @include respond(tab-land) {
                align-items: flex-start;
            }
        }

        &__checkmarkIcon {
            -webkit-text-stroke-color: $cp-orangeRed;
        }

        &__benefitsText {
            padding-bottom: .35rem;
        }
    }
}

.googleReviewsSection {
    overflow: hidden;
    @include respond(tab-land){
        align-items: flex-start;
    }
    &__sectionContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 2rem;

        max-width: 100%;
        overflow: hidden;

        @media (min-width: 900px) {
            align-items: flex-start;
        }

        .reviewsAndButtonsContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            gap: 2rem;

            @include respond(tab-land){
                flex-direction: row;
            }
        }

        .googleReviewsContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            gap: 2rem;

            @include respond(tab-land){
                align-items: flex-start;
                width: 25rem;
            }
        }

        .buttonsContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 2rem;

            @include respond(tab-land){
                align-items: flex-start;
            }
        }
    }
}
.contactUsSection {
    @include respond(tab-land){
        align-items: flex-start;
    }

    &__sectionContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        gap: 2rem;

        width: 100%;

        @media (min-width: 900px) {
            flex-direction: row;
            gap: 2rem;
        }
    }
    .contactUsDetailsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        @include respond(tab-land) {
            gap: 1.75rem;
        }

        &__buttonsContainer {
            @media (min-width: 900px) {
                margin: 0 auto 0 0;
            }
        }
    }
}

.tradingHoursSection {
    @include respond(tab-land){
        align-items: flex-start;
    }
    &__sectionContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 2rem;

        width: 100%;

        @media (min-width: 900px) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 2rem;
        }

        .tradingHoursContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            gap: 2rem;

            @media (min-width: 900px) {
                flex-direction: row;
                align-items: flex-start;
            }
        }
    }
}
