<footer class="footer">
      <div class="footer__footerContainer">
            <figure class="footer__figure">
                  <img class="footer__logo" src="./img/Logo/WizeWizzToyzLogo500.png" alt="WizeWizzToyz logo featuring three colorful 3D blocks with the words Wize, Wizz, and Toyz on red, green, and blue blocks respectively">
                  <figcaption class="footer__figcaption">
                        <h2 class="footer__figcaptionHeadingH2 headingH2 headingH2--figcaptionHeadingH2">
                              <span class="headingH2--figcaptionHeadingH2Wize">Wize</span>
                              <span class="headingH2--figcaptionHeadingH2Wizz">Wizz</span>
                              <span class="headingH2--figcaptionHeadingH2Toyz">Toyz</span>
                        </h2>
                        <p class="footer__figcaptionParagraph paragraph paragraph--figcaptionParagraph">Unlocking fun and learning, one toy at a time!</p>
                  </figcaption>
            </figure>
            <nav>
                  <ul class="footer__footerNavitemContainer">
                        <li class="footer__footerNavitem">
                              <a class="footer__footerNavlink footerNavlinkHome" href="#">
                                    <p class="footer__paragraphNavitem paragraph paragraph--footerNavitem">Home</p>
                              </a>
                        </li>
                        <li class="footer__footerNavitem">
                              <a class="footer__footerNavlink footerNavlinkProducts" href="#">
                                    <p class="footer__paragraphNavitem paragraph paragraph--footerNavitem">Products</p>
                              </a>
                        </li>
                        <li class="footer__footerNavitem">
                              <a class="footer__footerNavlink footerNavlinkCategories" href="#">
                                    <p class="footer__paragraphNavitem paragraph paragraph--footerNavitem">Categories</p>
                              </a>
                        </li>
                        <li class="footer__footerNavitem">
                              <a class="footer__footerNavlink footerNavlinkPromotions" href="#">
                                    <p class="footer__paragraphNavitem paragraph paragraph--footerNavitem">Promotions</p>
                              </a>
                        </li>
                        <li class="footer__footerNavitem">
                              <a class="footer__footerNavlink footerNavlinkShop" href="#">
                                    <p class="footer__paragraphNavitem paragraph paragraph--footerNavitem">Shop</p>
                              </a>
                        </li>
                        <li class="footer__footerNavitem">
                              <a class="footer__footerNavlink footerNavlinkTestimonials" href="#">
                                    <p class="footer__paragraphNavitem paragraph paragraph--footerNavitem">Testimonials</p>
                              </a>
                        </li>
                        <li class="footer__footerNavitem">
                              <a class="footer__footerNavlink footerNavlinkSocialMedia" href="#">
                                    <p class="footer__paragraphNavitem paragraph paragraph--footerNavitem">Social Media</p>
                              </a>
                        </li>
                        <li class="footer__footerNavitem">
                              <a class="footer__footerNavlink footerNavlinkNewsletter" href="#">
                                    <p class="footer__paragraphNavitem paragraph paragraph--footerNavitem">Newsletter</p>
                              </a>
                        </li>
                  </ul>
            </nav>
            <address class="footer__address">
                  <a class="footer__addressLink footer__phoneNumberLink" href="">
                        <svg class="footer__addressIcon footer__addressPhoneIcon icon icon--contactIcon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path class="icon__path icon__path--addressFill" fill-rule="evenodd" clip-rule="evenodd" d="M5 0C2.23859 0 0 2.23857 0 5V27C0 29.7614 2.23859 32 5 32H27C29.7614 32 32 29.7614 32 27V5C32 2.23857 29.7614 0 27 0H5ZM10.5561 6.70711L9.67963 7.58353C7.56827 9.69489 7.33072 13.0375 9.12225 15.4262L10.3444 17.0556C11.652 18.7992 13.2008 20.348 14.9444 21.6556L16.5738 22.8777C18.9626 24.6693 22.3051 24.4317 24.4165 22.3204L25.2929 21.444C25.6834 21.0534 25.6834 20.4203 25.2929 20.0297L22.4966 17.2334C22.106 16.8429 21.4729 16.8429 21.0824 17.2334L19.1584 19.1574C18.8438 19.472 18.3632 19.55 17.9652 19.351C15.6646 18.2007 13.7993 16.3353 12.649 14.0348C12.45 13.6368 12.528 13.1562 12.8426 12.8416L14.7666 10.9176C15.1571 10.5271 15.1571 9.89395 14.7666 9.50342L11.9703 6.70711C11.5797 6.31659 10.9466 6.31659 10.5561 6.70711Z" fill="black"/>
                        </svg>
                        <p class="footer__paragraphAddress paragraph paragraph--address">082 550 3872</p>
                  </a>
                  <a class="footer__addressLink footer__emailAddressLink" href="">
                        <svg class="footer__addressIcon footer__addressEmailIcon icon icon--contactIcon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path class="icon__path icon__path--addressFill" fill-rule="evenodd" clip-rule="evenodd" d="M5 0C2.23859 0 0 2.23857 0 5V27C0 29.7614 2.23859 32 5 32H27C29.7614 32 32 29.7614 32 27V5C32 2.23857 29.7614 0 27 0H5ZM7 14C7 13.4954 7 13.0358 7.00497 12.6163L14.928 17.6467C15.5823 18.0622 16.4177 18.0621 17.072 17.6467L24.995 12.6163C24.9979 12.8613 24.9991 13.12 24.9996 13.3934C25 13.588 25 13.7901 25 14V18C25 20.8284 25 22.2426 24.1213 23.1213C23.2426 24 21.8284 24 19 24H13C10.1716 24 8.75735 24 7.87869 23.1213C7 22.2426 7 20.8284 7 18V14ZM7.53601 10.5843C7.41528 10.5077 7.28439 10.4601 7.15155 10.4398C7.27225 9.76312 7.48911 9.26826 7.87869 8.87868C8.75735 8 10.1716 8 13 8H19C21.8284 8 23.2426 8 24.1213 8.87868C24.5109 9.26826 24.7278 9.76312 24.8484 10.4398C24.7156 10.4601 24.5847 10.5077 24.464 10.5843L16 15.9583L7.53601 10.5843Z" fill="black"/>
                        </svg>
                        <p class="footer__paragraphAddress paragraph paragraph--address">sales@wizewizztoyz.co.za</p>
                  </a>
                  <a class="footer__addressLink footer__streetAddressLink" href="">
                        <svg class="footer__addressIcon footer__addressStreetAddressIcon icon icon--contactIcon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path class="icon__path icon__path--addressFill" d="M19.8571 14.7912C19.8571 16.8721 18.1302 18.5589 16 18.5589C13.8698 18.5589 12.1429 16.8721 12.1429 14.7912C12.1429 12.7104 13.8698 11.0236 16 11.0236C18.1302 11.0236 19.8571 12.7104 19.8571 14.7912Z" fill="black"/>
                              <path class="icon__path icon__path--addressFill" fill-rule="evenodd" clip-rule="evenodd" d="M5 0C2.23859 0 0 2.23857 0 5V27C0 29.7614 2.23859 32 5 32H27C29.7614 32 32 29.7614 32 27V5C32 2.23857 29.7614 0 27 0H5ZM25 14.7912C25 21.2281 18.1293 25.0456 16.3942 25.907C16.1445 26.031 15.8555 26.031 15.6058 25.907C13.8707 25.0456 7 21.2281 7 14.7912C7 9.93597 11.0294 6 16 6C20.9706 6 25 9.93597 25 14.7912Z" fill="black"/>
                        </svg>
                        <p class="footer__paragraphAddress paragraph paragraph--address">25 Steve Tshwete Street, Modimolle, 0510</p>
                  </a>
            </address>
            <div class="footer__copyrightAndWebdevContainer">
                  <article class="footer__copyright">
                        <h3 class="footer__copyrightHeadingH3 headingH3 headingH3--copyright">
                              <span class="headingH3--copyrightSymbol">&copy;</span>
                              <span class="headingH3--copyrightYear">2024</span>
                              <span class="headingH3--copyrightName">
                                    <span class="headingH3--copyrightNameWize">Wize</span>
                                    <span class="headingH3--copyrightNameWizz">Wizz</span>
                                    <span class="headingH3--copyrightNameToyz">Toyz</span>
                              </span>
                        </h3>
                        <p class="footer__copyrightParagraph paragraph paragraph--copyright">All rights reserved.</p>
                  </article>
                  <article class="footer__webdev">
                        <h3 class="footer__webdevHeadingH3 headingH3 headingH3--webdev">
                              <span class="footer__webdevIntro headingH3--webdevIntro">designed and developed by: </span>
                              <span class="footer__webdevName headingH3--webdevName">
                                    <a href="https://schalkvandyk.com" target="_blank">Schalk van Dyk &rarr;</a>
                              </span>
                        </h3>
                  </article>
            </div>
      </div>
</footer>