<div class="header__container">
      <div class="header__slider slider">
            <!-- Slider Images -->
            <div class="slider__imageContainer">
                  <img src="/img/ProductImages/nmbrs1to5/1.png" alt="" class="slider__img">
                  <img src="/img/ProductImages/nmbrs1to5/2.png" alt="" class="slider__img">
                  <img src="/img/ProductImages/nmbrs1to5/3.png" alt="" class="slider__img">
                  <img src="/img/ProductImages/nmbrs1to5/4.png" alt="" class="slider__img">
                  <img src="/img/ProductImages/nmbrs1to5/5.png" alt="" class="slider__img">
            </div>
            <!-- Slider Navigation -->
            <div class="slider__sliderNavigation">
                  <svg class="slider__btn slider__btn--prev" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="slider__navBtnColor" d="M19 3L6 12L19 21" stroke="#33363F" stroke-width="3.16667" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <svg class="slider__btn slider__btn--next" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="slider__navBtnColor" d="M6 21L19 12L6 3" stroke="#33363F" stroke-width="3.16667" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
            </div>
            <!-- Slider Index -->
             <div class="slider__sliderIndex">
                  <span class="slider__dot"></span>
                  <span class="slider__dot"></span>
                  <span class="slider__dot"></span>
                  <span class="slider__dot"></span>
                  <span class="slider__dot"></span>
             </div>
      </div>

      <!-- Header Logo -->
      <figure class="header__headerLogo headerLogo">
            <img class="headerLogo__image" 
                 src="/img/Logo/WizeWizzToyzLogo1000.webp" 
                 alt="WizeWizzToyz logo featuring three colorful 3D blocks with the words Wize, Wizz, and Toyz on red, green, and blue blocks respectively" 
                 title="WizeWizzToyz Logo">
            <figcaption class="headerLogo__figcaption">
                <h1 class="headerLogo__heading">
                    <span class="headerLogo__headingWize">Wize</span>
                    <span class="headerLogo__headingWizz">Wizz</span>
                    <span class="headerLogo__headingToyz">Toyz</span>
                </h1>
                <p class="headerLogo__tagline">Unlocking fun and learning, <br>one toy at a time!</p>
            </figcaption>
      </figure>

      <!-- Call to Action Section -->
      <article class="cta-header">
            <div class="cta-header__actions">
                  <a href="#" class="cta__btn btn btn--cta-header btn--primary btn--signUp">Sign Up</a>
                  <a href="#" class="cta__btn btn btn--cta-header btn--secondary btn--specialPromotions">Special Promotions</a>
                  <a href="#" class="cta__btn btn btn--cta-header btn--secondary btn--viewProducts">View Products</a>
            </div>
      </article>
</div>