<nav class="navbar">
      <a href="/" class="navbar__logo paragraph paragraph--navLogo">
            <img class="navbar__logoImg" src="./img/Logo/WizeWizzToyzLogo500.png">
            <span class="paragraph--navLogoNameWize">Wize</span>
            <span class="paragraph--navLogoNameWizz">Wizz</span>
            <span class="paragraph--navLogoNameToyz">Toyz</span>
      </a>
      <button class="navbar__hamburger" aria-label="Toggle menu">
          <span class="navbar__hamburger-icon"></span>
      </button>
      <ul class="navbar__menu">
          <li class="navbar__menu-item">
              <a href="/" class="navbar__menu-link">Home</a>
          </li>
          <li class="navbar__menu-item">
              <a href="#about" class="navbar__menu-link">About</a>
          </li>
          <li class="navbar__menu-item">
              <a href="#products" class="navbar__menu-link">Products</a>
          </li>
          <li class="navbar__menu-item">
              <a href="#shop" class="navbar__menu-link">Shop</a>
          </li>
          <li class="navbar__menu-item">
              <a href="#testimonials" class="navbar__menu-link">Testimonials</a>
          </li>
          <li class="navbar__menu-item">
              <a href="#contact" class="navbar__menu-link">Contact</a>
          </li>
      </ul>
  </nav>
  