<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>WizeWizzToyz</title>
      <link rel="stylesheet" href="css/main.css">
</head>
<body>
      <header class="header">
            <section class="header__hero hero">
                  <h1>Welcome to Wize Wizz Toyz</h1>
            </section>
      </header>
      <main></main>
      <aside></aside>
      <footer></footer>
      <script src="js/app.js"></script>
</body>
</html>