@use '../abstracts/index' as *;

.btn {  
    border: 2px solid $cp-white;
    border-radius: .45rem;
    box-shadow: $bs-btn;
    width: 100%;
    padding: .55em 1.25em;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .2s;

    &:link, &:visited {
        transform: translateY(0px);
    }

    &--cta-header {
        @include displayFlexColumn;
        width: min(100%, 25rem);
        min-height: 5rem;
    }

    &--primary {
        background-color: rgba(#0389b5, .85);

        &:hover {
            background-color: #00befe;
        }
    }

    &--secondary {
        background-color: rgba(#0f8911, .85);

        &:hover {
            background-color: #02bf05;
        }
    }

    &--primary:hover, &--secondary:hover {
        border: 3px solid $cp-white;
        transform: scale(1.03);
    }

    &--primary:active, &--secondary:active {
        border: 2px solid $cp-light-grey;
        border-top: 3px solid $cp-white;
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .35);
        transform: translateY(2px); /* Combine hover and active effects */
    }
}
