// style button
.btn {  
    border: 2px solid $cp-white;
    border-radius: .45rem;
    box-shadow: $bs-btn;

    width: fit-content;

    padding: .60em .85em;
    margin: 0 auto;

    cursor: pointer;
    backface-visibility: hidden;
    transition: all .2s;

    &:link, &:visited {
        text-decoration: none;
        transform: translateY(0px);
    }

    &:active {
        border-bottom: 2px solid $cp-grey;
        border-right: 2px solid $cp-grey;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .7);
        transform: translateY(-1px);
    }

    &--primary-orange {
        background-color: $cp-orangeRed;
    }

    &--primary-white {
        background-color: $cp-white, .85;
        border: 2px solid $cp-orangeRed;
        padding: .55em 1.25em;
    }

    &--carousel {
        background-color: $cp-white;
        border: 1px solid $cp-darkBlue;
        box-shadow: none;
    }

    &--loyaltyClubCloseBtn {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: .5rem;

        background-color: $cp-white, .85;
        border: 1px solid $cp-darkBlue;

        padding: .8em 1.6em;    
    }
}