// style logo
.logo {
    position: relative;

    &__img {        
        display: inline;
        height: auto;
        width: 4.5rem;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 100;
    }

    &__text {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        gap: 0rem;

        margin: 0.1rem 0 0 4.2rem;
    }
}