@use '../abstracts/index' as *;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	/* 	10px / 16px *100 = 62.5% */
	font-size: 62.5%; // 1rem = 10px
	@include respond(tab-port) {
		font-size: 68.75%; 
	}
	@include respond(tab-land) {
		font-size: 75%;  
	}
	@include respond(desk) {
		font-size: 81.25%; 
	}
	@include respond(big-desk) {
		font-size: 93.75%; 
	}
}

body {
	background-color: $cp-dark;
	/* This makes dealing with the sizes of elements much easier, 
		and generally eliminates a number of pitfalls you can stumble on
		 while laying out your content. */
	/* The width and height properties include the content, padding, and border, 
		but do not include the margin.  Note that padding and border will be inside 
		of the box. */
	box-sizing: border-box;
	// for position absolute iro popup component
	position: relative;

	@media (min-width: 2000px) {
		margin: 0 auto;
		max-width: 2000px;
	}
}


ol, ul{
	list-style: none;
}


a {
	text-decoration: none;
	color: inherit;
}
