// base
// basic reset
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	/* 	10px / 16px *100 = 62.5% */
	font-size: 62.5%; // 1rem = 10px
	@include respond(tab-port) {
	/* 	11px / 16px *100 = 68.75% */
		font-size: 68.75%; // 1.6rem = 17.6px
	}
	@include respond(tab-land) {
	/* 	12px / 16px *100 = 75% */
		font-size: 75%; // 1.6rem = 19.2px 
	}
	@include respond(desk) {
	/* 	13px / 16px *100 = 81.25% */
		font-size: 81.25%; // 1.6rem = 20.8px 
	}
	@include respond(big-desk) {
	/* 	15px / 16px *100 = 93.75% */
		font-size: 93.75%; // 1.6rem = 24px
	}
}

body {
	background-color: $cp-dark;
	/* This makes dealing with the sizes of elements much easier, 
		and generally eliminates a number of pitfalls you can stumble on
		 while laying out your content. */
	/* The width and height properties include the content, padding, and border, 
		but do not include the margin.  Note that padding and border will be inside 
		of the box. */
	box-sizing: border-box;
	// for position absolute iro popup component
	position: relative;

	@media (min-width: 2000px) {
		margin: 0 auto;
		max-width: 2000px;
	}
}


ol, ul{
	list-style: none;
}


a {
	text-decoration: none;
	color: inherit;
}
