// typography
// font-family: 'Lato', sans-serif; font-weight: 400, 500, 700, 900;   --- H3, H4, H5 &Body Text
// font-family: 'Playpen Sans', cursive;   --- H2
// font-family: 'Rum Raisin', sans-serif;  --- H1

body {
	color: $cf-grey;
	font-family: 'Lato', sans-serif;
	font-size: clamp(1.4rem, 4.6vw, 1.6rem);
	font-weight: 400;
	text-align: center;
	line-height: 1.6;
}
.header {
	&__headingH1 {
	color: $cf-white;
	font-family: 'Rum Raisin', sans-serif;
	font-size: clamp(2.2rem, 6.5vw, 2.6rem);
	text-align: center;
	line-height: 1.2;
	}
}
.headingH4 {
	&--socialMediaComponent {
		color: $cp-white;
		font-size: clamp(1.6rem, 5.3vw, 1.8rem);
		font-weight: 700;
		letter-spacing: 1px;
	}
}
.paragraph {
	&--socialMediaComponent {
		color: $cp-white;
		font-weight: 700;
		letter-spacing: 1px;
	}	
}
.btn {	
}
.footer {
}